In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Khokhryaki,RU,2021-01-30 19:47:48,56.9156,53.3221,28.00,93,100,3.00
1,1,Ambilobe,MG,2021-01-30 19:47:48,-13.2000,49.0500,74.25,93,3,2.01
2,2,Ushuaia,AR,2021-01-30 19:44:26,-54.8000,-68.3000,53.60,58,20,26.46
3,3,Vasyshcheve,UA,2021-01-30 19:47:49,49.8285,36.3269,37.40,100,90,11.18
4,4,Torbay,CA,2021-01-30 19:43:46,47.6666,-52.7314,30.00,86,90,16.11

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
   # temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Buala,SB,2021-01-30 19:47:49,-8.1450,159.5921,81.86,82,100,13.73
6,6,Alice Springs,AU,2021-01-30 19:47:49,-23.7000,133.8833,82.40,34,75,9.22
8,8,Buchanan,LR,2021-01-30 19:47:50,5.8808,-10.0467,80.60,83,75,5.61
9,9,Kailua,US,2021-01-30 19:47:50,21.4022,-157.7394,75.20,64,40,16.11
12,12,Souillac,MU,2021-01-30 19:44:01,-20.5167,57.5167,78.80,89,20,5.75
14,14,Rikitea,PF,2021-01-30 19:47:50,-23.1203,-134.9692,78.78,76,48,14.50
30,30,Atuona,PF,2021-01-30 19:47:53,-9.8000,-139.0333,78.64,78,10,17.52
34,34,Butaritari,KI,2021-01-30 19:47:54,3.0707,172.7902,81.07,77,100,16.40
35,35,Avarua,CK,2021-01-30 19:43:56,-21.2078,-159.7750,84.20,70,100,3.44
39,39,Hithadhoo,MV,2021-01-30 19:47:54,-0.6000,73.0833,82.31,77,45,15.43

In [11]:
#preferred_cities_df_filt = preferred_cities_df.dropna()

In [12]:
#preferred_cities_df_filt.isnull().sum()

In [13]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [14]:
preferred_cities_df.count()

City_ID       151
City          151
Country       150
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
5           Buala      SB     81.86  -8.1450  159.5921
6   Alice Springs      AU     82.40 -23.7000  133.8833
8        Buchanan      LR     80.60   5.8808  -10.0467
9          Kailua      US     75.20  21.4022 -157.7394
12       Souillac      MU     78.80 -20.5167   57.5167
14        Rikitea      PF     78.78 -23.1203 -134.9692
30         Atuona      PF     78.64  -9.8000 -139.0333
34     Butaritari      KI     81.07   3.0707  172.7902
35         Avarua      CK     84.20 -21.2078 -159.7750
39      Hithadhoo      MV     82.31  -0.6000   73.0833

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Buala,SB,81.86,-8.1450,159.5921,Maringe Lagoon Lodge
6,Alice Springs,AU,82.40,-23.7000,133.8833,Desert Palms Alice Springs
8,Buchanan,LR,80.60,5.8808,-10.0467,Kamaneahn Hotel Inc
9,Kailua,US,75.20,21.4022,-157.7394,Sheffield House Bed & Breakfast
12,Souillac,MU,78.80,-20.5167,57.5167,Shanti Maurice Resort & Spa
...,...,...,...,...,...,...
544,Nieuw Amsterdam,SR,84.20,5.8833,-55.0833,Hotel Stardust
545,Miracema Do Tocantins,BR,85.03,-9.5618,-48.3967,Miami Apart Hotel
547,Miri,MY,77.00,4.4148,114.0089,"Mega Hotel, Miri"
550,Florianopolis,BR,84.00,-27.6146,-48.5012,Hotel Boutique Quinta das Videiras
555,Lorengau,PG,82.35,-2.0226,147.2712,Lorengau Harbourside Hotel

In [24]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]